<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="end_effector_name" value="custom" />
    <xacro:macro name="define_end_effector" params="arm name">
        <!-- <end_effector name="${name}" parent_link="${arm}_tool_link" group="${name}" parent_group="${arm}_torso" /> -->

    </xacro:macro>
</robot>
