<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <disable_collisions link1="gripper_grasping_frame" link2="gripper_left_finger_link" reason="Never"/>
  <disable_collisions link1="gripper_grasping_frame" link2="gripper_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_grasping_frame" link2="gripper_right_finger_link" reason="Never"/>
  <disable_collisions link1="gripper_grasping_frame" link2="gripper_tool_link" reason="Never"/>
  <disable_collisions link1="gripper_left_finger_link" link2="gripper_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_left_finger_link" link2="gripper_right_finger_link" reason="Never"/>
  <disable_collisions link1="gripper_left_finger_link" link2="gripper_tool_link" reason="Never"/>
  <disable_collisions link1="gripper_link" link2="gripper_right_finger_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_link" link2="gripper_tool_link" reason="Never"/>
  <disable_collisions link1="gripper_right_finger_link" link2="gripper_tool_link" reason="Never"/>
</robot>
