<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <disable_collisions link1="gripper_base_link" link2="gripper_coupler_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_left_inner_knuckle" reason="Adjacent"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_left_outer_knuckle" reason="Adjacent"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_right_inner_knuckle" reason="Adjacent"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="gripper_right_outer_knuckle" reason="Adjacent"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_left_inner_finger_pad" reason="Adjacent"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_left_inner_knuckle" reason="Default"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_left_outer_finger" reason="Adjacent"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_left_outer_knuckle" reason="Default"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_left_outer_knuckle" reason="Adjacent"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="gripper_right_inner_finger_pad" reason="Adjacent"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="gripper_right_inner_knuckle" reason="Default"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="gripper_right_outer_finger" reason="Adjacent"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="gripper_right_outer_knuckle" reason="Default"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="gripper_right_outer_knuckle" reason="Adjacent"/>
</robot>
