<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/tiago_omni_no-ee.srdf.xacro" />
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/robotiq-epick.srdf.xacro" />
  <disable_collisions link1="arm_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_coupler_link" reason="Default"/>
  <disable_collisions link1="arm_6_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_coupler_link" reason="Adjacent"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_antenna_left_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_antenna_right_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_dock_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="base_rear_laser_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="virtual_base_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="suspension_rear_left_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="suspension_rear_right_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="virtual_base_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="wheel_rear_right_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="head_1_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="head_2_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="suspension_front_left_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="suspension_front_right_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="suspension_rear_left_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="suspension_rear_right_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="torso_fixed_column_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="torso_fixed_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="torso_lift_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="wheel_front_left_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="wheel_front_right_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="wheel_rear_left_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="wheel_rear_right_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_end_effector" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="rgbd_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="virtual_base_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="virtual_base_laser_link" link2="gripper_end_effector" reason="Never"/>
  <disable_collisions link1="xtion_depth_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_depth_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_orbbec_aux_joint_frame" link2="arm_7_link" reason="Never"/>
</robot>
