<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/tiago_no-ee.srdf.xacro" />
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/robotiq-2f-85.srdf.xacro" />
  <disable_collisions link1="arm_1_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_coupler_link" reason="Default"/>
  <disable_collisions link1="arm_6_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="base_antenna_right_link" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_coupler_link" reason="Adjacent"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_cover_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_laser_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_left_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_back_right_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_left_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_mic_front_right_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_01_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_02_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="base_sonar_03_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_back_left_1_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_2_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_back_left_2_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_back_left_2_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_left_2_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_back_right_1_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_2_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_back_right_2_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_back_right_2_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_2_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_back_right_2_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_front_left_1_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_base_link" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_coupler_link" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_left_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_left_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_left_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_left_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_left_outer_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_right_inner_finger" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_right_inner_finger_pad" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_right_inner_knuckle" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_right_outer_finger" reason="Never"/>
  <disable_collisions link1="caster_front_right_1_link" link2="gripper_right_outer_knuckle" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_base_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_coupler_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_finger_pad" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_inner_knuckle" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_finger" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_left_outer_knuckle" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_finger_pad" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_inner_knuckle" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_finger" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="rgbd_laser_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="suspension_left_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="suspension_right_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="gripper_right_outer_knuckle" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="rgbd_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="suspension_left_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="suspension_right_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_depth_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_depth_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_orbbec_aux_joint_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_rgb_frame" link2="arm_7_link" reason="Never"/>
</robot>
