<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/tiago_omni_no-ee.srdf.xacro" />
  <disable_collisions link1="arm_1_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_1_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_2_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_3_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="base_antenna_left_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_4_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_5_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_6_link" link2="wrist_ft_link" reason="Default"/>
  <disable_collisions link1="arm_6_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="arm_7_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="arm_tool_link" link2="wrist_ft_link" reason="Adjacent"/>
  <disable_collisions link1="arm_tool_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="base_footprint" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="base_front_laser_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="base_imu_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="base_rear_laser_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="rgbd_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="rgbd_laser_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="rgbd_laser_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="suspension_rear_left_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="suspension_rear_left_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="suspension_rear_right_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="suspension_rear_right_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="virtual_base_laser_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="virtual_base_laser_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="virtual_base_laser_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="wheel_rear_left_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="wheel_rear_left_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="wheel_rear_right_link" link2="wrist_ft_link" reason="Never"/>
  <disable_collisions link1="wheel_rear_right_link" link2="wrist_ft_tool_link" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="wrist_ft_tool_link" reason="Adjacent"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_depth_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_depth_optical_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_link" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_optical_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_orbbec_aux_joint_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_rgb_frame" reason="Never"/>
  <disable_collisions link1="wrist_ft_tool_link" link2="xtion_rgb_optical_frame" reason="Never"/>
  <disable_collisions link1="xtion_depth_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_depth_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_link" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_optical_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_orbbec_aux_joint_frame" link2="arm_7_link" reason="Never"/>
  <disable_collisions link1="xtion_rgb_frame" link2="arm_7_link" reason="Never"/>
</robot>
